@model MVCDemo.Models.Employee
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
  
 ID is :  @Model.Id
<br />
Name is : @Model.Name
<br />
Department is : @Model.Department
<br />
Salary is : @Model.Salary