
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1> Employee Details </h1>
<font color="red">
    @ViewBag.employee.Id
<br />
@ViewBag.employee.Name
<br />
@ViewBag.employee.Department
<br />
@ViewBag.employee.Salary
</font>
